    .project_container 
    {
        width: 100vw;
        height: 100vh;
        background-color: rgb(238, 248, 243);
    }
    .project_container .navigation_container 
    {
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: left;
        position: absolute;
        left: 1vw;
        top: 2vh;
        width: 98vw;
        height: 8vh;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .navigation_container h1 
    {
        margin-left: 2vw;
        width: 10vw;
    }
    .navigation_container p img 
    {
        margin-right: 0.5vw;
    }
    .navigation_container p:hover
    {
        background-color: rgb(170, 255, 180);
    }
    .project_info 
    {
        position: absolute;
        left: 1vw;
        top: 15vh;
        width: 25vw;
        height: 25vh;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .project_list 
    {
        display: grid;
        position: absolute;
        grid-template-columns: auto auto;
        gap: 1vw;
        left: 1vw;
        top: 43vh;
        width: 25vw;
        height: 50vh;
    }
    .project_task 
    {
        width: 12vw;
        height: 12vw;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .project_team 
    {
        position: absolute;
        right: 1vw;
        top: 15vh;
        width: 18vw;
        height: 70vh;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .project_main 
    {
        position: absolute;
        left: 28vw;
        top: 15vh;
        width: 51vw;
        height: 70vh;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }